<div class="view_profile">
  <h3>View Similar Profiles</h3>
  <ul class="profile_item">
    <a href="cohabitants/1">
      <li class="profile_item-img">
	<img src="/assets/p5.jpg" class="img-responsive" alt=""/>
      </li>
      <li class="profile_item-desc">
	<h4>2458741</h4>
	<p>29 Yrs, 5Ft 5in Christian</p>
	<h5>View Full Profile</h5>
      </li>
      <div class="clearfix"> </div>
    </a>
  </ul>
  <ul class="profile_item">
    <a href="cohabitants/1">
      <li class="profile_item-img">
	<img src="/assets/p6.jpg" class="img-responsive" alt=""/>
      </li>
      <li class="profile_item-desc">
	<h4>2458741</h4>
	<p>29 Yrs, 5Ft 5in Christian</p>
	<h5>View Full Profile</h5>
      </li>
      <div class="clearfix"> </div>
    </a>
  </ul>
  <ul class="profile_item">
    <a href="cohabitants/1">
      <li class="profile_item-img">
	<img src="/assets/p7.jpg" class="img-responsive" alt=""/>
      </li>
      <li class="profile_item-desc">
	<h4>2458741</h4>
	<p>29 Yrs, 5Ft 5in Christian</p>
	<h5>View Full Profile</h5>
      </li>
      <div class="clearfix"> </div>
    </a>
  </ul>
  <ul class="profile_item">
    <a href="cohabitants/1">
      <li class="profile_item-img">
	<img src="/assets/p8.jpg" class="img-responsive" alt=""/>
      </li>
      <li class="profile_item-desc">
	<h4>2458741</h4>
	<p>29 Yrs, 5Ft 5in Christian</p>
	<h5>View Full Profile</h5>
      </li>
      <div class="clearfix"> </div>
    </a>
  </ul>
</div>
<div class="view_profile view_profile1 hide">
  <h3>Members who viewed this profile also viewed</h3>
  <ul class="profile_item">
    <a href="cohabitants/1">
      <li class="profile_item-img">
	<img src="/assets/p9.jpg" class="img-responsive" alt=""/>
      </li>
      <li class="profile_item-desc">
	<h4>2458741</h4>
	<p>29 Yrs, 5Ft 5in Christian</p>
	<h5>View Full Profile</h5>
      </li>
      <div class="clearfix"> </div>
    </a>
  </ul>
  <ul class="profile_item">
    <a href="cohabitants/1">
      <li class="profile_item-img">
	<img src="/assets/p10.jpg" class="img-responsive" alt=""/>
      </li>
      <li class="profile_item-desc">
	<h4>2458741</h4>
	<p>29 Yrs, 5Ft 5in Christian</p>
	<h5>View Full Profile</h5>
      </li>
      <div class="clearfix"> </div>
    </a>
  </ul>
  <ul class="profile_item">
    <a href="cohabitants/1">
      <li class="profile_item-img">
	<img src="/assets/p11.jpg" class="img-responsive" alt=""/>
      </li>
      <li class="profile_item-desc">
	<h4>2458741</h4>
	<p>29 Yrs, 5Ft 5in Christian</p>
	<h5>View Full Profile</h5>
      </li>
      <div class="clearfix"> </div>
    </a>
  </ul>
  <ul class="profile_item">
    <a href="cohabitants/1">
      <li class="profile_item-img">
	<img src="/assets/p12.jpg" class="img-responsive" alt=""/>
      </li>
      <li class="profile_item-desc">
	<h4>2458741</h4>
	<p>29 Yrs, 5Ft 5in Christian</p>
	<h5>View Full Profile</h5>
      </li>
      <div class="clearfix"> </div>
    </a>
  </ul>
</div>
