<div class="grid_3">
  <div class="container">
    <div class="breadcrumb1">
      <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Address Details</li>
      </ul>
    </div>
    <div class="services">
      <form action="/cohabitants/family">
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="address">Address <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="address" name="address" placeholder="Addressx" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="email">Email <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="email" name="email" placeholder="Email" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="mobile_1">Mobile 1 <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="mobile_1" name="mobile_1" placeholder="Enter Mobile" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="mobile_2">mobile 2 <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="mobile_2" name="mobile_2" placeholder="Mobile 2" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0 ">
	  <div class="form-actions">
	    <input type="submit" id="edit-submit" name="op" value="Next" class="btn_1 submit">
	  </div>
	</div>
      </form>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

