<div class="grid_3">
  <div class="container">
    <div class="breadcrumb1">
      <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Expectation Details</li>
      </ul>
    </div>
    <div class="services">
      <form action="/">
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="cities"> Cities<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="cities" name="cities" placeholder="cities" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="mangal">Mangal <Span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="mangal" name="mangal" placeholder="Mangal" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="caste"> caste<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="caste" name="caste" placeholder="Caste" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="age_difference">Age Difference <Span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="age_difference" name="age_difference" placeholder="Age Difference" maxlength="20">
	    </div>
	  </div>
	</div>

	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="min_height"> Min Height<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="min_height" name="min_height" placeholder="Min Height" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="divorcee">Divorcee <Span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="divorcee" name="divorcee" placeholder="divorcee" maxlength="20">
	    </div>
	  </div>
	</div>
	
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="occupation"> Occupation<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="occupation" name="occupation" placeholder="occupation" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="education">Education <Span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="education" name="education" placeholder="Education" maxlength="20">
	    </div>
	  </div>
	</div>


	<div class="col-sm-12 padding0 ">
	  <div class="form-actions">
	    <input type="submit" id="edit-submit" name="op" value="Next" class="btn_1 submit">
	  </div>
	</div>
      </form>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

