<div class="grid_3">
  <div class="container">
    <div class="breadcrumb1">
      <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Family Details</li>
      </ul>
    </div>
    <div class="services">
      <form action="/cohabitants/expectation">
	<div class="col-sm-12 padding0">
	  <div class="col-sm-3 paddingL0">
	    <div class="form-group">
	      <label for="has_father"> Has Father<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="has_father" name="has_father" placeholder="Has Father" maxlength="20">
	    </div>
	  </div>
	  
	  <div class="col-sm-3">
	    <div class="form-group">
	      <label for="has_mother"> Has Mother<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="has_mother" name="has_mother" placeholder="Has Mother" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6 ">
	    <div class="form-group">
	      <label for="parents_occupation"> Parents Occupation<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="parents_occupation" name="parents_occupation" placeholder="Parents Occupation" maxlength="20">
	    </div>
	  </div>
	</div>

	<div class="col-sm-12 padding0">
	  <div class="col-sm-3 paddingL0">
	    <div class="form-group">
	      <label for="brothers"> Brothers<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="brothers" name="brothers" placeholder="Brothers" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-3">
	    <div class="form-group">
	      <label for="married_brothers">Married Brothers <Span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="married_brothers" name="married_brothers" placeholder="Married Brothers" maxlength="20">
	    </div>
	  </div>
	
	  <div class="col-sm-3">
	    <div class="form-group">
	      <label for="sisters"> Sisters<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="sisters" name="sisters" placeholder="Sisters" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-3">
	    <div class="form-group">
	      <label for="married_sisters">Married Sisters <Span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="married_sisters" name="married_sisters" placeholder="Married Sisters" maxlength="20">
	    </div>
	  </div>
	</div>

	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="surnames_of_relatives">Surnames Of Relatives <Span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="surnames_of_relatives" name="surnames_of_relatives" placeholder="surnames_of_relatives" maxlength="20">
	    </div>
	  </div>
	</div>

	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="native_district"> Native District<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="native_district" name="native_district" placeholder="Native District" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="native_taluka">Native Taluka <Span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="native_taluka" name="native_taluka" placeholder="native_taluka" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="family_wealth"> Family Wealth<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="family_wealth" name="family_wealth" placeholder="Family Wealth" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="mamas_name">Mamas Name <Span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="mamas_name" name="mamas_name" placeholder="Mamas Name" maxlength="20">
	    </div>
	  </div>
	</div>

	<div class="col-sm-12 padding0 ">
	  <div class="form-actions">
	    <input type="submit" id="edit-submit" name="op" value="Next" class="btn_1 submit">
	  </div>
	</div>
      </form>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

