<div class="grid_3">
  <div class="container">
    <div class="breadcrumb1">
      <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page"> Horoscope Details</li>
      </ul>
    </div>
    <div class="services">
      <form action="/cohabitants/educational">
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="Rashi">Rashi <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="Rashi" name="Rashi" placeholder="Rashi" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="Nakshtra">Nakshtra <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="Nakshtra" name="" placeholder="Nakshtra" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="charan">Charan <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="charan" name="charan" placeholder="Charan" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="Nadi">Nadi <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="Nadi" name="Nadi" placeholder="Nadi" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="Gan">Gan <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="Gan" name="Gan" placeholder="Gan" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="Birth_Place">Birth Place <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="birth_place" name="birth_place" placeholder="Birth Place" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="Birth Time">Birth Time <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="Birth Time" name="Birth Time" placeholder="Birth Time" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="Mangal">Mangal <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="Mangal" name="Mangal" placeholder="Mangal" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="devak">Devak <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="devak" name="devak" placeholder="Devak" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0 ">
	  <div class="form-actions">
	    <input type="submit" id="edit-submit" name="op" value="Next" class="btn_1 submit">
	  </div>
	</div>
      </form>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

