<div class="grid_3">
  <div class="container">
    <div class="breadcrumb1">
      <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Personal Details</li>
      </ul>
    </div>
    <div class="services">
      <form action="/cohabitants/horoscop">
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="sub_cast">Sub Cast <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="sub_cast" name="sub_cast" placeholder="Sub Cast" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="married_status">Married Status <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="married_status" name="married_status" placeholder="Married Status" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="height">Height <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="height" name="height" placeholder="Height" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="Weight">Weight <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="weight" name="weight" placeholder="Weight" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="Blood_group">Blood Group <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="blood_group" name="blood" placeholder="Blood Group" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="complexion">Complexion <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="complexion" name="complexion" placeholder="Complexion" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="is_physical_disabilities">Physical Disabilities <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="is_physical_disabilities" name="is_physical_disabilities" placeholder="Physical Disabilities" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="physical_disabilities">Physical Disabilities <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="physical_disabilities" name="physical_disabilities" placeholder="Physical Disabilities if yes" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="spectacles">Spectacles <span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="spectacles" name="spectacles" placeholder="Spectacles" maxlength="20">
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="lens"> Lens<span class="form-required" title="This field is required.">*</span></label>
	      <input type="text" class="form-text required"  id="lens" name="lens" placeholder="Lens" maxlength="20">
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0 ">
	  <div class="form-actions">
	    <input type="submit" id="edit-submit" name="op" value="Next" class="btn_1 submit">
	  </div>
	</div>
      </form>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
