<div class="section fp-auto-height text-center text-uppercase fp-section fp-table active" id="section-footer" tabindex="-1" data-anchor="footer"><div class="fp-tableCell" >
    <div id="footer-text">
      <div class="container <%= 'borderTop' unless request.path == '/'  %>">
	
	<div class="row newPro">
	  <div class="col-sm-12">
	    <a href="/" class="flogo"></a>
	  </div>
	</div>
      </div>
      <div class="fmenu">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	      <ul class="list-inline">
		<li itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="addressCountry">India</span> <span style="color:#afafaf;" itemprop="streetAddress">18, 4th Floor Landmark Building. Kothrud,</span> <span itemprop="addressLocality" style="color:#afafaf;"> Pune</span> <span itemprop="postalCode" style="color:#afafaf;"> 411029</span></li>
		<li><span>Call</span> <a href="tel:+919823092333"><span itemprop="telephone" style="color:#afafaf;">020&nbsp;65364999</span></a> </li>
		<li><span>Email</span> <a href="mailto:info@webwingz.com">info@brahmagath.com</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
      <div class="container">
	<div class="row">
	  <div class="col-sm-12">
	    <ul class="list-inline socialLink">
	      <li><a href="/" target="_blank">facebook</a></li>
	      <li><a href="/" target="_blank">linkedin</a></li>
	      <li><a href="/" target="_blank">twitter</a></li>
	      <li><a href="/" target="_blank">google+</a></li>
	      <li><a href="/" target="_blank">pinterest</a></li>
	      <li class="pull-right copyRight">© <a href="http://www.qloud.in" target="_blank">Qloud Solutions</a> 2016-2017</li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
